.myGraph {
	margin-left: 1%;
	float: left;
}
.mygraphControls {
	background: #6D6D6D;
	float: right;
	margin-left: 10px;
	margin-right: 15px;
	padding: 8px;
	position: relative;
	top: 55px;
	width: 48%;
	z-index: 100000;
	height: 396px;
}

.highcharts-container {
	top: 55px !important;
}
.highcharts-title, .highcharts-button {
	display: none;
}
body {

	background: #C2C4C4;
}
.bubble {
	color: white !important;
}
.mygraphControls .ng-isolate-scope {
	margin-top: 18%;
}

.ng-binding {
	display: none;
}
